.container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.block-main {
  padding: 25px;
}

@media screen and (max-width: 600px) {
  .container {
    top: 56px;
    bottom: 56px;
  }
}
