.product-add {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-add {
  display: flex;
  flex-direction: column;
  min-width: 40%;
}

.add-book-page__actions {
    display: flex;
    justify-content: center;
}

.submit-button {
    margin-left: 20px;
    min-width: 64px;
}

.description {
  padding-top: 10px;
}

.cancel-button {
  min-width: 76px;
}

.characteristics-product {
  margin-right: 20px;
  min-width: 150px;;
}
